# coding:utf-8
Net:
  net_type: 'ResNet'
  n_class: 3
Data:
  train_dir: "../data"
  val_dir: "../data"
  train_name: '300w_lp_for_rank.txt'
  val_name: 'aflw2000_filename.txt'
  train_type: 'RANK_300W'
  val_type: 'AFLW2000'
  target_size: 224
Train:
  max_epoch: 80
  batch_size: 16
  num_workers: 4
  test_every: 1
  resume: False
  pretrained_path:
  use_bined: False
  use_rank: True

  # resume: True
# Evaluate:
#   eval_dir: "../data"
#   eval_datasets: [{'val_name': 'aflw2000_filename.txt', 'val_type': 'AFLW2000'}, {'val_name': 'biwi_dataset_list.txt', 'val_type': 'BIWI'}]
#   target_size: 224

Loss:
  loss_type: 'RANK'
Optimizer:
  mode: 'adam'
  base_lr: 0.0001
  t_max: 10
